@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "Aristotelica DemiBold";
  src: url("../../assets/fonts/AristotelicaDemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --text-size-xs: 0.75rem;
  --text-lh-xs: 18px;
  --text-size-s: 0.875rem;
  --text-lh-s: 20px;
  --text-size-m: 1rem;
  --text-lh-m: 24px;
  --text-size-l: 1.15rem;
  --text-lh-l: 28px;
  --text-size-xl: 1.5rem;
  --text-lh-xl: 36px;
  --body-color: #677788;
  --heading-color: #111;
  --color-primary: #377dff;
  --color-primary-hover: #1164ff;
  --border-color: #c5d2da;
  --background-light: #f7faff;
  --background-dark: #21325b;
  --background-soft-primary: rgba(55, 125, 255, 0.1);
  --background-offers: #fff8eb;
  --color-body: #677788;
  --color-warning: #ec9a3c;
  --color-warning-hover: #ec9a3c26;
  --color-success: #00c9a7;
  --color-offers: #ffb937;
  --color-primary-100: #d7eaff;
  --color-primary-200: #afd3ff;
  --color-primary-300: #86b9ff;
  --color-primary-400: #69a2ff;
  --color-primary-500: #377dff;
  --color-primary-600: #2860db;
  --color-primary-700: #1b47b7;
  --color-primary-800: #113193;
  --color-primary-900: #0a217a;
  --color-success-100: #e8fcd8;
  --color-success-200: #ccf9b3;
  --color-success-300: #a5ee8a;
  --color-success-400: #80de69;
  --color-success-500: #4cc93c;
  --color-success-600: #30ac2b;
  --color-success-700: #1e9023;
  --color-success-800: #13741f;
  --color-success-900: #0b601d;
  --color-info-100: #d9f7fe;
  --color-info-200: #b4ecfe;
  --color-info-300: #8edcfe;
  --color-info-400: #72cbfd;
  --color-info-500: #44affc;
  --color-info-600: #3189d8;
  --color-info-700: #2267b5;
  --color-info-800: #154892;
  --color-info-900: #0d3378;
  --color-warning-100: #fff8d9;
  --color-warning-200: #fff0b3;
  --color-warning-300: #ffe58d;
  --color-warning-400: #ffda71;
  --color-warning-500: #ffc942;
  --color-warning-600: #dba530;
  --color-warning-700: #b78321;
  --color-warning-800: #936415;
  --color-warning-900: #7a4e0c;
  --color-danger-100: #ffe7d8;
  --color-danger-200: #ffcab2;
  --color-danger-300: #ffa68b;
  --color-danger-400: #ff846f;
  --color-danger-500: #ff4c3f;
  --color-danger-600: #db2e30;
  --color-danger-700: #b71f2e;
  --color-danger-800: #93142b;
  --color-danger-900: #7a0c29;
  --font-family-heading: "Inter", sans-serif;
  --font-family-body: "Inter", sans-serif;
  --field-padding: 10px;
  --width-words: 0%;
  --scren-time: 0s;
  --web-color: #6853df;
  --font-bru: "Aristotelica DemiBold";
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../../img/bru-bg-zigzag.svg");
  background-size: 30px;
  box-shadow: inset 0px 0px 147px 94px rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

/**
 * NAV SECTION STARTS FROM HERE ////////////////
 */
/**
 * MAIN SECTION STARTS FROM HERE
 */
.main__container {
  width: 100%;
  padding-top: 100px;
  margin: auto;
}

.main__content {
  display: flex;
  gap: 20px;
  border-radius: 20px;
  align-items: center;
}
.main__content .main__description {
  background-color: #fff;
  border-radius: 40px;
}
.main__content .main__description h1,
.main__content .main__description h2 {
  color: #6853df;
  font-family: "Poppins";
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.main__content .main__description h2 {
  font-size: 40px;
}
.main__content .main__description p {
  font-family: "Poppins";
}
.main__content .main__image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.main__content .main__image img {
  width: 300px;
  height: auto;
  border-radius: 15px;
  transform: rotateZ(20deg) skewX(20deg) translate(0px, 100px);
}
@media (max-width: 768px) {
  .main__content .main__image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transform: none;
  }
}

/**
 * APP SECTION STARTS FROM HERE ////////////////////////
 */
.app__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 200px 5% 5% 5%;
  width: 100%;
}

/**
  * BRU STYLES FOR THE APP STARTS FROM HERE
  */
.bru__container {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  box-shadow: 13px 7px 17px 5px rgba(0, 0, 0, 0.2);
  font-family: "Poppins";
  padding: 20px;
  width: 100%;
  max-width: 600px;
  z-index: 3;
}
.bru__container .bru__footer .bru__submit button {
  color: #fff;
  padding: 0.9em 1.7em;
  margin-top: 1em;
  font-size: 18px;
  border-radius: 0.5em;
  background: rgb(104, 83, 223);
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  width: 100%;
}
.bru__container .bru__footer .bru__submit button:hover {
  border: 1px solid white;
}
.bru__container .bru__footer .bru__submit button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.bru__fields {
  display: flex;
  flex-direction: column;
}
.bru__fields label {
  padding: 5px;
}
.bru__fields input,
.bru__fields select {
  padding: var(--field-padding);
  outline: none;
  border-radius: 5px;
  border: 1px #ccc solid;
  width: 100%;
}
.bru__fields input {
  border-radius: 0 5px 5px 0;
}
.bru__fields select option:first-child {
  color: #ccc;
}
.bru__fields #inpAmount .amount__icon {
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
  border-right: none;
  border-radius: 15px 0 0 15px;
  padding: calc(var(--field-padding) - 3px);
  padding-inline: 20px;
  text-align: center;
}
.bru__fields .bru__minmax {
  margin: 10px;
}

.separator {
  background-color: #ccc;
  margin: 15px 0;
  width: 100%;
  height: 1px;
}

.results__content .result__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.results__content .result__item:nth-child(2n+1) {
  background-color: #f5f5f6;
}
.results__content .result__item #netoACobrar {
  color: #1e9023;
}
.results__content .result__item p {
  flex-basis: 50%;
  margin: 0;
}
.results__content .result__item span {
  position: relative;
  flex-basis: 170px;
  border-left: 2px solid var(--border-color);
  text-align: end;
  width: 100%;
}
.results__content .result__item p,
.results__content .result__item span {
  padding: 15px;
}

/**
 * BRU TOOLS STYLES STARTS FROM HERE //////////////////////////////
 */
.bru__tools .bru__tool .st__card {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  border: 5px solid rgba(104, 83, 223, 0.295);
  border-radius: 28px;
  background: #fff;
  box-shadow: 8px 8px 6px #8c8c8c, -1px 1px 20px 1px #FFF;
  padding: 20px;
  line-height: 10px;
  width: 100%;
  max-width: 300px;
}
.bru__tools .bru__tool .st__card p {
  float: left;
}
.bru__tools .bru__tool .st__card p span {
  padding-left: 20px;
}

/**
 * SCREEN LOADING STYLES STARTS FROM HERE /////////////////////////////
 */
.animated-words {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
}
.animated-words .word-1 {
  display: block;
  color: rgba(104, 83, 223, 0.26);
  font-size: 4em;
  font-family: "Aristotelica DemiBold";
  overflow: hidden;
  line-height: 1em;
}
.animated-words .word-1::before {
  position: absolute;
  width: 0;
  color: #6953df;
  overflow: hidden;
  content: attr(data-text);
  transition: all var(--scren-time);
}
.animated-words .word-1::before {
  width: var(--width-words);
}
.animated-words .word-2 {
  display: inline-block;
  position: relative;
  color: #6953df;
  font-size: 4em;
  font-family: "Aristotelica DemiBold";
  line-height: 1em;
  transform: translate(0px, 0px);
  transition: transform 1s ease;
  visibility: hidden;
}
.animated-words .word-2-visible {
  visibility: visible;
}
.animated-words .word-2-animation {
  animation: appStrech 1s ease-out;
}
.animated-words .question__sign {
  display: inline-block;
  color: #6953df;
  font-family: "Aristotelica DemiBold";
  font-size: 4rem;
  line-height: 1em;
  visibility: hidden;
  margin: 0;
  padding: 0;
}
.animated-words .question__sign-animation {
  animation: questionIn 0.5s ease-in;
  animation-delay: 0.6s;
}
.animated-words .question__sign-visible {
  visibility: visible;
}

.screen-animation {
  animation: screenClose 1s ease-out;
}

@keyframes appStrech {
  0% {
    transform: translate(0px, -30px) rotate(-80deg);
    visibility: visible;
  }
  30% {
    transform: translate(0, 0px) rotate(-40deg);
  }
  60% {
    transform: translate(0, 0) rotate(1deg);
  }
  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}
@keyframes questionIn {
  0% {
    transform: translateX(0px) rotate(0);
  }
  25% {
    transform: translateX(10px) rotate(20deg);
  }
  75% {
    visibility: visible;
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes screenClose {
  from {
    clip-path: circle(100%);
  }
  to {
    clip-path: circle(0%);
  }
}

/*# sourceMappingURL=style.css.map */
